.auto_height{
	display:block;
	position:relative;
	padding:10px !important;
	cursor:pointer
}
.images_details{
	list-style: none;
	margin:0;
	padding:0
}
.auto_height:before{
content:'';
padding:50% 0;
display:inline-block;
vertical-align:middle;
}
.auto_height .content_auto_images{
position:absolute;
top:5px;left:5px;bottom:5px;right:5px;
background:#eee;
overflow:hidden;
display:block;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border: 1px solid #ccc;
}
.auto_height .browse{
	margin-left:5px;
}
.auto_height .toolbar{
position:absolute;
top:5px;right:5px;
}
.auto_height .delete_images{
	margin-left:5px;
}
.auto_height .content_auto_images img{
	width:100%;
	height:auto
}
.auto_height .content_auto_footer{
	position:absolute;
	left:15px;bottom:15px;right:15px
}
.modal-body{padding:0}
.user-panel > .pull-left{max-width:150px}
footer{padding:20px 10px;background:#fff;border-top:3px solid #eee}
.font-14{font-size:14px !important}
.font-13{font-size:13px !important}
.font-12{font-size:12px !important}
.blue1{color:#3c8dbc}
.pointer{cursor:pointer}
.no-border{border-color:transparent}
.a-hover:hover{color:#444}
.no-resize{resize: none;}
.box .box-footer2 {
border-top: 1px solid #e9eaed;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
padding: 10px;
background-color: #f6f7f8;
}
#post_status_content_footer{display:none}
.social_avatar{width:40px;height:40px;margin:0 10px 0 0;border:1px solid #ddd;background:#fff}
.social_time{font-size:11px;font-weight:100;color:#999;margin-top:5px;width:200px}
.social_u_name{font-size:13px;font-weight:700;padding:0;margin:5px 0 0 0;display:block}
.social_u_name2{font-size:13px;font-weight:700;padding:0;margin:5px 0 0 0;  color: #3c8dbc !important}
.social_action_menu_icon{color:#999;font-size:12px}
.dropdown-menu-right{right:0!important;left:auto !important}
.social_like_link{cursor:pointer}
.social_comment_link{cursor:pointer}
.comment_status_group{border:0;padding:0;position:relative;width;100%}
.social_avatar_comment{width:40px;height:40px;position:absolute;top:0;left:0;border:1px solid #ddd;background:#fff}
.comment_area{min-height:30px;margin-left:50px}
.comment_area2{height:40px;width:100%;border:1px solid #ddd;background:#fff;padding:9px; resize: none;}
.status_comment{margin-top:10px}
.comment_detail{margin-left:50px}

#team_list, #team_list_not_use {
border: 1px solid #eee;
min-height: 20px;
list-style-type: none;
margin: 0;
padding: 5px 0 0 0;
}
#team_list li, #team_list_not_use li {
margin: 5px;
padding: 5px;
font-size: 1.2em;
border: 1px solid #00acd6;
cursor:pointer
}
.color_select{display:inline-block;zoom:1;padding:3px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #999}